<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Myportfolio</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous" /> -->
    <base href="/" />
<link rel="stylesheet" href="styles.bf4c3ff4687359a65666.css"></head>

<body class="gooey-transition">
    <app-root></app-root>
<script type="text/javascript" src="runtime.06daa30a2963fa413676.js"></script><script type="text/javascript" src="polyfills.68f8e64ca9ba69dbb103.js"></script><script type="text/javascript" src="scripts.8d38d44a7068c77feaab.js"></script><script type="text/javascript" src="main.72dd77c9f538a993f5fc.js"></script></body>

</html>
